In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Steel Industry Energy Consumption

df=pd.read_csv(r"C:\Users\suganthi_subramani\Downloads\Steel_industry_data.csv.crdownload")

In [6]:
df

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,01/01/2018 00:15,3.17,2.95,0.0,0.00,73.21,100.0,900,Weekday,Monday,Light_Load
1,01/01/2018 00:30,4.00,4.46,0.0,0.00,66.77,100.0,1800,Weekday,Monday,Light_Load
2,01/01/2018 00:45,3.24,3.28,0.0,0.00,70.28,100.0,2700,Weekday,Monday,Light_Load
3,01/01/2018 01:00,3.31,3.56,0.0,0.00,68.09,100.0,3600,Weekday,Monday,Light_Load
4,01/01/2018 01:15,3.82,4.50,0.0,0.00,64.72,100.0,4500,Weekday,Monday,Light_Load
...,...,...,...,...,...,...,...,...,...,...,...
25213,20/09/2018 15:30,51.80,29.92,0.0,0.02,86.59,100.0,55800,Weekday,Thursday,Maximum_Load
25214,20/09/2018 15:45,70.49,45.43,0.0,0.03,84.06,100.0,56700,Weekday,Thursday,Maximum_Load
25215,20/09/2018 16:00,54.32,29.02,0.0,0.02,88.20,100.0,57600,Weekday,Thursday,Maximum_Load
25216,20/09/2018 16:15,65.23,39.46,0.0,0.03,85.56,100.0,58500,Weekday,Thursday,Maximum_Load
25217,20/09/2018 16:30,43.16,19.30,0.0,0.02,91.29,100.0,59400,Weekday,Thursd,NaN

In [7]:
df.describe()

,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM
count,25218.000000,25218.000000,25218.000000,25218.000000,25218.000000,25218.000000,25218.000000
mean,28.519831,13.217977,3.927480,0.012081,80.645873,84.806258,42717.023555
std,34.217537,16.447807,7.640763,0.016504,18.768838,30.205075,24931.766870
min,2.480000,0.000000,0.000000,0.000000,40.050000,12.500000,0.000000
25%,3.200000,2.770000,0.000000,0.000000,62.920000,99.840000,20700.000000
50%,4.720000,4.970000,0.000000,0.000000,88.500000,100.000000,42300.000000
75%,52.130000,22.900000,2.050000,0.020000,99.070000,100.000000,63900.000000
max,153.140000,96.910000,27.760000,0.070000,100.000000,100.000000,85500.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25218 entries, 0 to 25217
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   date                                  25218 non-null  object
 1   Usage_kWh                             25218 non-null  float64
 2   Lagging_Current_Reactive.Power_kVarh  25218 non-null  float64
 3   Leading_Current_Reactive_Power_kVarh  25218 non-null  float64
 4   CO2(tCO2)                             25218 non-null  float64
 5   Lagging_Current_Power_Factor          25218 non-null  float64
 6   Leading_Current_Power_Factor          25218 non-null  float64
 7   NSM                                   25218 non-null  int64
 8   WeekStatus                            25218 non-null  object
 9   Day_of_week                           25218 non-null  object
 10  Load_Type                             25217 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 2.1+ MB

In [9]:
df.isnull().sum()

date                                    0
Usage_kWh                               0
Lagging_Current_Reactive.Power_kVarh    0
Leading_Current_Reactive_Power_kVarh    0
CO2(tCO2)                               0
Lagging_Current_Power_Factor            0
Leading_Current_Power_Factor            0
NSM                                     0
WeekStatus                              0
Day_of_week                             0
Load_Type                               1
dtype: int64

In [14]:
df['Load_Type'].isnull().sum()

1

In [17]:
df['date'].unique()

array(['01/01/2018 00:15', '01/01/2018 00:30', '01/01/2018 00:45', ...,
       '20/09/2018 16:00', '20/09/2018 16:15', '20/09/2018 16:30'],
      dtype=object)

In [18]:
df['WeekStatus'].unique()

array(['Weekday', 'Weekend'], dtype=object)

In [19]:
df['Day_of_week'].unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday', 'Thursd'], dtype=object)

In [21]:
df['Load_Type'].unique()

array(['Light_Load', 'Medium_Load', 'Maximum_Load', nan], dtype=object)

In [ ]:
#sns.countplot(df['date'].unique())

In [ ]:
#sns.countplot(df['WeekStatus'].unique())

In [ ]:
#sns.countplot(df['Load_Type'].unique())

In [24]:
df[df['Load_Type'].isna()]

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
25217,20/09/2018 16:30,43.16,19.3,0.0,0.02,91.29,100.0,59400,Weekday,Thursd,NaN

In [49]:
df=df.drop(25217,axis=0)

KeyError: '[25217] not found in axis'

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25217 entries, 0 to 25216
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   date                                  25217 non-null  object
 1   Usage_kWh                             25217 non-null  float64
 2   Lagging_Current_Reactive.Power_kVarh  25217 non-null  float64
 3   Leading_Current_Reactive_Power_kVarh  25217 non-null  float64
 4   CO2(tCO2)                             25217 non-null  float64
 5   Lagging_Current_Power_Factor          25217 non-null  float64
 6   Leading_Current_Power_Factor          25217 non-null  float64
 7   NSM                                   25217 non-null  int64
 8   WeekStatus                            25217 non-null  object
 9   Day_of_week                           25217 non-null  object
 10  Load_Type                             25217 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 2.3+ MB